## <summary>argus daemon</summary>

########################################
## <summary>
##          Read argus daemon log files.
## </summary>
## <param name="domain">
##          Domain allowed access.
## </param>
#
interface(`argus_read_log',`
	gen_require(`
		type argus_log_t;
	')

	logging_search_logs($1)
	allow $1 argus_log_t:dir search_dir_perms;
	allow $1 argus_log_t:file r_file_perms;
')
